.top, .bottom {
  background-color: #9deee0;
  padding: 5%;
}

.top {
  max-width: 250px;
  margin-bottom: -2px;
  border: 2px solid #608d85;
  
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  border: 2px solid #608d85;
  border-bottom: none;
  position: relative;
  padding: 0;
}

.top::after {
  content: "";
  display: block;
  position: relative;
  height: 40px;
  margin: -42px -2px 0 -2px;
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  z-index: -3;
}

h1 {
  margin: 0;
  padding: 0 0 0 5%;
  line-height: 40px;
  font-size: 25px;
}

.bottom {
  border: 2px solid #608d85;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
}
